@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #13121a;
  font-weight: 400;
  color: white;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  @apply font-sans;
}
