@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/space-grotesk";

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #13121a;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}

.gradient-active {
  background: radial-gradient(
    circle closest-side,
    white,
    rgba(255, 255, 255, 0) 100%
  );
}
